* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Signika Negative", sans-serif;
    color: white;

}

body {
    background-color: black;
    padding: 0 25px;
    padding-top: 95px;
    padding-left: 375px;
    
}
